################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BullCowGame/Binaries/Win64
/BullCowGame/Intermediate
/BullCowGame/Saved
