################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BullCowGame/Binaries/Win64
/BullCowGame/Intermediate
/BullCowGame/Saved
/BullCowGame/.vs/BullCowGame/v16/Solution.VC.db-wal
/BullCowGame/.vs/BullCowGame/v16/Solution.VC.db-shm
/BullCowGame/.vs/BullCowGame/v16/Solution.VC.db
/BullCowGame/.vs/BullCowGame/v16/Browse.VC.opendb
/BullCowGame/.vs/BullCowGame/v16/Browse.VC.db-wal
/BullCowGame/.vs/BullCowGame/v16/Browse.VC.db-shm
/BullCowGame/.vs/BullCowGame/v16/Browse.VC.db
/BullCowGame/.vs/BullCowGame/v16/.suo
